/* packages/auth-app/src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */
.maindiv{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #181818, #3b82f6);
  padding: 1rem;
  background-color: #181818;
  
}